<div
  class="flex items-center justify-center hover:bg-[var(--highlight)] gap-2 p-2 cursor-pointer h-10 w-10"
  [ngClass]="{
    'rounded bg-[var(--highlight)] w-fit': opened(),
    'rounded-full': !opened(),
  }"
  (click)="opened.set(true); input.focus()"
>
  <i class="text-white pi pi-search"></i>
  <input
    [hidden]="!opened()"
    #input
    type="text"
    placeholder="Search in your library"
    [(ngModel)]="searchTextModel"
    class="outline-none bg-transparent text-white placeholder:text-white w-full"
    name="search"
    autocomplete="off"
  />
</div>
