@let mainButtonClass = "scale-200! hover:scale-[210%]! disabled:scale-200!";
@let buttonClass =
  "text-white disabled:text-gray-500 transition-all cursor-pointer hover:scale-110 " +
  "disabled:cursor-not-allowed disabled:scale-100 border-none outline-none bg-transparent";
@let activeButtonClass =
  "bg-[var(--primary)] w-[5px] h-[5px] rounded-full absolute bottom-[-5px] right-[50%] translate-[50%]";

<!-- * Music Displayer -->
<section class="flex items-center gap-3 justify-start w-80">
  <!-- * Music Displayer -->
  @let musicSource = this.musicSource();

  @if (musicSource) {
    <img [src]="musicSource.img" alt="Music Cover" class="w-16 h-16 rounded" />
    <div>
      <p class="font-bold text-sm">{{ musicSource.title }}</p>
      <p class="font-light text-gray-300 text-xs">{{ musicSource.artist }}</p>
    </div>
    <i class="pi pi-minus-circle"></i>
    <i class="pi pi-plus-circle"></i>
  }
</section>

<!-- * Playback Controls -->
<section class="flex flex-col justify-center grow">
  <div class="flex items-center gap-6 justify-center mb-2">
    <button
      (click)="playlistPlayer.toggleShuffle()"
      [disabled]="disablePlaylistControls()"
      [ngClass]="[buttonClass]"
      class="relative"
    >
      <i
        class="pi pi-arrow-right-arrow-left"
        [ngClass]="{ 'text-[var(--primary)]': isShuffle() }"
      ></i>

      @if (isShuffle()) {
        <div [ngClass]="[activeButtonClass]"></div>
      }
    </button>
    <button
      [disabled]="disablePlaylistControls()"
      [ngClass]="[buttonClass]"
      (click)="playlistPlayer.playPreviousMusic()"
    >
      <i class="pi pi-step-backward"></i>
    </button>

    @if (!isMusicPlaying()) {
      <button
        [disabled]="disableReproductionControls()"
        [ngClass]="[buttonClass, mainButtonClass]"
        (click)="musicPlayer.playMusic()"
      >
        <i class="pi pi-play-circle"></i>
      </button>
    } @else {
      <button
        [disabled]="disableReproductionControls()"
        [ngClass]="[buttonClass, mainButtonClass]"
        (click)="musicPlayer.pauseMusic()"
      >
        <i class="pi pi-pause-circle"></i>
      </button>
    }

    <button
      [disabled]="disablePlaylistControls()"
      [ngClass]="[buttonClass]"
      (click)="playlistPlayer.playNextMusic()"
    >
      <i class="pi pi-step-forward"></i>
    </button>
    <button
      [disabled]="disablePlaylistControls()"
      [ngClass]="[buttonClass]"
      (click)="musicPlayer.restartMusic()"
    >
      <i class="pi pi-replay"></i>
    </button>
  </div>
  <div class="flex items-center gap-4 justify-center w-full">
    <p class="m-0 text-xs font-light">{{ currentTimeString() }}</p>
    <app-slider-controller
      type="range"
      [min]="0"
      [max]="duration()"
      [value]="currentTime().currentTime"
      [disabled]="disableReproductionControls()"
      (valueChanged)="musicPlayer.changeCurrentTime($event)"
    />
    <p class="m-0 text-xs font-light">{{ durationString() }}</p>
  </div>
</section>

<!-- * Volume and Settings -->
<section class="flex justify-end items-center gap-4 w-96">
  <i [ngClass]="['pi pi-mobile', buttonClass]"></i>
  <i [ngClass]="['pi pi-microphone', buttonClass]"></i>
  <i [ngClass]="['pi pi-bars', buttonClass]"></i>
  <i [ngClass]="['pi pi-headphones', buttonClass]"></i>
  <i [ngClass]="[volumeIcon(), buttonClass]"></i>
  <app-slider-controller
    [min]="0"
    [max]="1"
    [value]="volume()"
    [step]="0.1"
    class="w-20!"
    (valueChanged)="musicPlayer.changeVolume($event)"
  ></app-slider-controller>
  <i [ngClass]="['pi pi-window-maximize', buttonClass]"></i>
  <i [ngClass]="['pi pi-expand', buttonClass]"></i>
</section>
