/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";

:root {
  --primary: #1db954;
  --secondary: #121212;
  --highlight: #1f1f1f;
}

html {
  background: black;
  color: white;
}

/* scroll like spotify */
::-webkit-scrollbar {
  width: 10px; /* Width of the vertical scrollbar */
  height: 10px; /* Height of the horizontal scrollbar */
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: rgba(20, 20, 20, 0.507); /* Dark, semi-transparent color */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* Customize the scrollbar track (the background) */
::-webkit-scrollbar-track {
  background: transparent; /* Transparent background */
}
