/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";

:root {
  --primary: #1db954;
}

html {
  background: black;
  color: white;
}